.container-fluid {
    font-weight:bolder; 
    text-align: center;
}

.header {
    background-color: #9bffa3;
    background-image: linear-gradient(315deg, #4B79A1 0%, #283E51 74%);
    height: 10rem;
    position: relative;
    background-size: cover;
    color: white;
    margin-bottom: 1rem;
  }
  .form__input {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.5rem;
    margin: 0 auto;
    padding: 1.2rem 2rem;
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
    border: none;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
  }
.btn {
    margin-left: 1rem;
    width: 10em;
    height: 6em;
    background-color: rgb(255, 255, 255);
    border-radius: 5rem;

}
.btn:hover {
    background-color: rgb(39, 39, 39);
    color: #d6dee1;
    border-color: #ffffff;
}
.select {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    margin-top: 1rem;
    margin-left: 1rem;
    padding-left: 0.5rem;
    font-size: 1em;
    width: 13em;
    height: 3em;
    border-radius: .5em;
    overflow: hidden;
  }

  /* SCROLL BAR */
  ::-webkit-scrollbar {
    width: 20px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #c5c5c5;
  }

  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 20px;
    font-family: sans-serif;
    min-width: 1000px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-image: linear-gradient(315deg, #4B79A1 0%, #283E51 74%);
    color: #ffffff;
    text-align: left;
    height: 40px;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    height: 40px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    height: 40px;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
input[type=text] {
    /* width: 100%; */
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
  }
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* CSS */
.button-27 {
    appearance: none;
    background-image: linear-gradient(315deg, #4B79A1 0%, #283E51 74%);
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    width: 300px;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
  }
  
  .button-27:disabled {
    pointer-events: none;
  }
  
  .button-27:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button-27:active {
    box-shadow: none;
    transform: translateY(0);
  }
  .btn-login {
    background: none;
    text-decoration: none;
    color: white;
    box-shadow: 0px 0px 0px 2px white;
    border-radius: 3px;
    padding: 5px 2em;
    transition: 0.5s;
    font-size: 20px;
  }
  btn-login:hover {
    background: white;
    color: dimgray;
    transition: 0.5s;
  }